# Iris Standardization / Normalization

In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from IPython.display import display, HTML

assert sys.version_info >= (3, 5)
sys.path.append("..")

input_file = "../data/iris.data"

In [2]:
# load data file.
# create a DataFrame using an ifered Schema 
df = pd.read_csv(input_file, names=["sepal length","sepal width","petal length","petal width", "label"]) 
num_column_names = df.select_dtypes(include=np.number).columns.tolist()

## Standardization

In [3]:
print (num_column_names)
scaler = StandardScaler().set_output(transform="pandas")

df_stand = scaler.fit_transform(df[num_column_names])
display(df_stand)

['sepal length', 'sepal width', 'petal length', 'petal width']

     sepal length  sepal width  petal length  petal width
0       -0.900681     1.032057     -1.341272    -1.312977
1       -1.143017    -0.124958     -1.341272    -1.312977
2       -1.385353     0.337848     -1.398138    -1.312977
3       -1.506521     0.106445     -1.284407    -1.312977
4       -1.021849     1.263460     -1.341272    -1.312977
..            ...          ...           ...          ...
145      1.038005    -0.124958      0.819624     1.447956
146      0.553333    -1.281972      0.705893     0.922064
147      0.795669    -0.124958      0.819624     1.053537
148      0.432165     0.800654      0.933356     1.447956
149      0.068662    -0.124958      0.762759     0.790591

[150 rows x 4 columns]

## Min / Max Normalization

In [4]:
scaler = MinMaxScaler().set_output(transform="pandas")
df_min_max = scaler.fit_transform(df[num_column_names])
display(df_min_max)

     sepal length  sepal width  petal length  petal width
0        0.222222     0.625000      0.067797     0.041667
1        0.166667     0.416667      0.067797     0.041667
2        0.111111     0.500000      0.050847     0.041667
3        0.083333     0.458333      0.084746     0.041667
4        0.194444     0.666667      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.416667      0.711864     0.916667
146      0.555556     0.208333      0.677966     0.750000
147      0.611111     0.416667      0.711864     0.791667
148      0.527778     0.583333      0.745763     0.916667
149      0.444444     0.416667      0.694915     0.708333

[150 rows x 4 columns]